services:
  postgres:
    image: freelabspace/postgresql-postgis:17.7
    container_name: postgres-postgis
    environment:
      - TZ=Asia/Shanghai
      - POSTGRES_DB=dev
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"
    volumes:
      - ./data/pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 5s
    restart: unless-stopped
    networks:
      - postgres_network

  pg-backup:
    image: freelabspace/postgresql-backup:latest
    container_name: pg-backup
    environment:
      TZ: Asia/Shanghai
      PG_HOST: postgres
      PG_PORT: 5432
      PG_USER: postgres
      PG_PASSWORD: postgres
      PG_DATABASE: dev  # 使用逗号分隔多个数据库
      BACKUP_RETENTION_DAYS: 7 # 保留7天
      BACKUP_TIME: "03:00"  # 每天凌晨3点执行，24小时制
      BACKUP_INTERVAL: daily  # 备份间隔：daily（每天）、hourly（每小时）或数字（每隔多少分钟）
      ENABLE_COMPRESSION: "true" # 启用压缩
      BACKUP_FORMAT: "both"  # 备份格式: both（同时生成dump和sql）、dump（仅dump格式）、sql（仅sql格式）
      BACKUP_DIR: /backups
    volumes:
      - ./data/backups:/backups
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - postgres_network

networks:
  postgres_network:
    driver: bridge